* {
	margin: 0;
	padding: 0;
}

body, th, td, textarea {
	font-family: "Lucida Grande", "Hiragino Maru Gothic ProN", Meiryo, "MS UI Gothic", "segoe UI", Arial, sans-serif;
	font-size: 11pt;
}

.table {
	border-collapse: collapse;
	white-space: nowrap;
}

h1 {
	padding: 0 0.25em;
	border-bottom: 0.1em solid black;
}

h2 {
	padding: 0.5em 0.5em 0;
	border-bottom: 0.1em solid black;
}

.node {
	margin: 0.25em 0 0.25em 2em;
}

label {
	cursor: pointer;
	padding-right: 0.5em;
}

input {
	padding: 0.25em;
}

.sp-preview {
	width: 4em;
}

.tooltip {
	position: relative;
}

.tooltip-text {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	white-space: nowrap;
	color: #fff;
	background-color: #333;
	padding: 0.5em;
	border-radius: 0.25em;
	transition: 0.2s ease-in;
	z-index: 1;
	pointer-events: none;
}

.tooltip:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}

.element {
	white-space: nowrap;
}

.label {
	display: inline-block;
	width: 11em;
}

.desc {
	color: dimgray;
}

.desc:before {
	content: "- ";
}

.int-value {
	width: 6em;
}

.preview {
	margin: 10pt;
	font-size: 0;
}

.preview > div {
	border: solid 1px #808080;
}

.preview > div > div {
	display: inline-block;
}

.preview > div > div > span {
	display: inline-block;
	padding: 0 0.25em;
}

.preview .layer-title {
	width: 6em;
	border: solid 1px #c0c0c0;
	text-align: center;
}
